button{
	cursor: pointer;
}
button.bt1 {
    width:		  250px;
    max-width:	250px;
    min-width:	250px;
   }
 button.bt2 {

    width:      100px;
    max-width:  100px;
    min-width:  100px;
   }  

button.bt1:hover{
	color: black;
}
.java_mod_s{

}
.java_mod_s table{
  
}
.java_mod_s tr{
  
}
td .java_mod_s {
  text-align:         right;
  width:              536px;
  padding:            5px;
  vertical-align:     middle;
}
div.java_mod_show{
  display: block;
}

td.buutton_all{
  text-align: right;
  padding:0px 5px 5px 0px;
}